name: Deploy and Rollback Automation

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy application
        run: |
          chmod +x app.sh
          ./app.sh

      - name: Save version
        run: |
          cp version.txt last_successful_version.txt

  rollback:
    needs: deploy
    if: failure()
    runs-on: ubuntu-latest

    steps:
      - name: Rollback
        run: |
          echo "Rollback to previous version"

